################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lastbuildstate
*.log
*.opensdf
*.sdf
*.suo
*.~vsdx
*.lib
*.pdb
*.tlog
*.cache
*.exe
*.zip
*.user
*.codeanalysis
*.codeanalysisast
*.lastcodeanalysissucceeded

[Oo]bj/
[Bb]in/
project.lock.json
/.vs
/packages
.DS_Store
